@page
@model Courses_Distribution_System.Pages.Courses.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Course</h4>
<hr />
<form method="post" class="creat-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Course.Id" />
    <input type="hidden" asp-for="Course.Archived" />
    <input type="hidden" asp-for="Course.Semester" />
    <div class="form-group">
        <label asp-for="Course.Code" class="control-label"></label>
        <input asp-for="Course.Code" class="form-control" />
        <span asp-validation-for="Course.Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.Credits" class="control-label"></label>
        <input asp-for="Course.Credits" class="form-control" />
        <span asp-validation-for="Course.Credits" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.Language" class="control-label"></label>:
        <div class="form-control">
            <input type="radio" id="french" value="F" asp-for="Course.Language" />French
            <input type="radio" id="english" value="E" asp-for="Course.Language" />English
            <span asp-validation-for="Course.Language" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Course.Description" class="control-label"></label>
        <input asp-for="Course.Description" class="form-control" />
        <span asp-validation-for="Course.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.CourseHours" class="control-label"></label>
        <input asp-for="Course.CourseHours" class="form-control" />
        <span asp-validation-for="Course.CourseHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.TpHours" class="control-label"></label>
        <input asp-for="Course.TpHours" class="form-control" />
        <span asp-validation-for="Course.TpHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.TdHours" class="control-label"></label>
        <input asp-for="Course.TdHours" class="form-control" />
        <span asp-validation-for="Course.TdHours" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Course.Optional" class="control-label"></label>
        <div class="form-control">
            <input asp-for="Course.Optional" />
            <span asp-validation-for="Course.Optional" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-page="./Semester" asp-route-semester="@Model.Course.Semester">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
