<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link" id="myAccount" asp-page="/Manage/Index">My Account</a></li>
    <li class="nav-item"><a class="nav-link" id="departments" asp-page="/Manage/Departments/Index">Manage Departments</a></li>
    <li class="nav-item"><a class="nav-link" id="create" asp-page="/Manage/Departments/Create">Add Department</a></li>
</ul>